<!-- custom html tag -->
<!-- <app-selector></app-selector> -->
<!-- attribute  -->
<!-- <div app-selector></div> -->
<!-- class -->
<!-- <div class="app-selector"></div> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directive-ngif></app-structural-directive-ngif> -->
<!-- <app-structural-directive-ngswitch></app-structural-directive-ngswitch> -->
<!-- <app-structural-directive-ngfor></app-structural-directive-ngfor> -->
<!-- <app-parent-to-child [parentData]="'Some Messages'" [parentData2]="'Some Messages 2'"></app-parent-to-child> -->
<!-- <app-child-to-parent (childData)="message=$event"></app-child-to-parent> -->
<!-- <div>{{message}}</div> -->
<!-- <app-users-with-dependency-injection></app-users-with-dependency-injection> -->
<!-- <app-users-details-with-dependency-injection></app-users-details-with-dependency-injection> -->
<!-- <app-observable-introduction></app-observable-introduction> -->
<app-websites-details-with-dependency-injection></app-websites-details-with-dependency-injection>