<!-- custom html tag -->
<!-- <app-selector></app-selector> -->
<!-- attribute  -->
<!-- <div app-selector></div> -->
<!-- class -->
<!-- <div class="app-selector"></div> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directive-ngif></app-structural-directive-ngif> -->
<!-- <app-structural-directive-ngswitch></app-structural-directive-ngswitch> -->
<app-structural-directive-ngfor></app-structural-directive-ngfor>